@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

.unSelectedAble {
    /* 内容不可以被选中 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
    width: 100%;
    height: 5000px;
    overflow: hidden;
    color: #dfc01e;
    background: #1c4b7f url(../img/background.jpg) repeat-y 0px 0px fixed;
    background-size: cover;
    padding-top: 4%;
}

#follow_mouse {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 999;
}
/**** 顶部导航区 ****/
#top_nav_box {
    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 100%;
    height: 58px;
    background: rgba(62,32,80,0.68);
}

#top_nav {
    position: relative;
    left: 0px;
    top: 0px;
    
    width: 1920px;
    height: 100%;
    list-style: none;
    float: left;
}

#top_nav li{
    float: left;
    width: 115px;
    height: 46px;
    margin: 0.3% 5.3% 0px;
    background: #00000000 url(../img/115_46_li.png) no-repeat 0px 0px;
}

#top_nav a:link{
    color: #d9c24d;
    font: bold 17px/1em Georgia;
    text-decoration: none;
    position: relative;
    left: 10px;
    top: -5px;
}

#top_nav a:visited{
    color: #a7f13c;
}

#top_nav a:hover{
    color: #e9dd9f;
}

#top_nav a:active{
    color: #fff;
}

/**** 路明非 ****/
#leftLu {
    position: fixed;
    top: 44px;
    left: 35%;
    width: 30%;
}

#lu {
    width: 100%;
}

/**** 底部信息区 ****/
#kjf_bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    
    width: 100%;
    height: 18%;
    background: rgba(25,25,47,0.5);
}

#kjf_bottom:hover {
    background: rgba(25,25,47,0.3);
}

#bottomInfo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    
    width: 100%;
    margin-bottom: 20px;
}

#copyright {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -106px;
    color: #fff;
    font-size: 13px;
}

#move_info {
    position: absolute;
    right: 4px;
    bottom: -18px;
    color: #1fa7c7;
    font-size: 14px;
}

/**** 内容区 ****/
#kjf_top {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 650px;
    margin: 18px 0px 0px 19px;    /* 撑出滚动条 */
}

#kjf_top p {
    margin-top: 15px;
}

#kjf_top p:nth-child(odd) {
    color: #e6b05f;
}

#kjf_top p:nth-child(even) {
    color: #31ce44;
}

#top_left {
    width: 34%;
    height: 100%;
    /*background: #332356;*/
    float: left;
    padding-left: 20px;
}

#top_right {
    width: 34%;
    height: 100%;
    /*background: #25446f;*/
    float: right;
    margin-right: 19px;
    padding-left: 20px;
}
